*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(230, 121, 43);
    color: aliceblue;
}
.head-div{
    background-color: aquamarine;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: 30px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav li{
    padding: 20px;
    font-weight: 700px;
    text-align: center;
}
.banner{
    background-image: url("./images/donation0.jpg"), linear-gradient(  rgba(170, 153, 153, 0.5), rgba(0, 0, 0, 0.877));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: aliceblue;   

}
.banner-content{
    width: 100%;
    margin: auto;
    text-align: center;
}
.banner-title{
    font-size: 70px;
    padding-top: 30px;
    font-weight: 700;
}
.banner-description{
    font-size: 20px;
    margin-top: 20px ;
}
.btn-banner{
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(228, 74, 13);
    color: rgb(236, 235, 235);
    font-size: 30px;
    margin-top: 30px;
}
.sec-3{
    height: 70vh;
    width: 70%;
    margin: auto;
    text-align: center; 
    padding-top: 140px;
}
.sec-3-title{
   font-size: 50px;
}
.sec-tk ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.sec-3-li{
    font-size: 30px;
    padding:  40px 30px;
    background-color: rgba(247, 242, 242, 0.938);
    gap: 10px;
    margin: 15px;
    font-weight: 700;
    
    color: gray;
    border-radius: 10px;
}
.sp{
    border: 2px solid #f02f50;
    color: #f02f50;
    background-color: rgba(233, 150, 122, 0.295);
}
.sec-3-p{
    color: gray;
}
.sec-3-other{
    color: rgba(128, 128, 128, 0.774);
    font-size: 20px;
    margin-top: 40px;
}
.hrsec3{
    margin: 20px 65px;
}
.btn-sec3{
    background-color: #f02f50;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: aliceblue;
}
.sec4-title{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;

}
.sec4-summary{
    text-align: center;
    color: gray;
    margin-top: 20px;
}
.plan{
    display: flex;
    justify-content: space-around;
    margin: 5px 100px ;
    padding: 50px;
    gap: 20px;
    
}
.plan-item{
    padding: 40px;
    border-radius: 10px;
    
    
}
.plan-item1{
   

    background-color: #a7e9dee1;
    
}
.plan-item2{
   

    background-color: #e28fdebe;
    
}
.plan-item3{
   
    height: fit-content;
    background-color: #e7a9d5c2;
    
}
.plan-item-img{
    margin-top: 30px;

}
.plan-item-title{
    margin: 30px 0;
}
.sec55{
    margin: 40px 80px;
}

.sec5-item{
    display: flex;
    justify-content: space-around;
}
.sec5-item-content{
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 60px;
}
.sec5img{
     height: 500px;
     width: 500px;
     border-radius: 10px;
}
.sec5-title{
    font-size: 50px;
    font-weight: 700;
}
.sec5-details{
   font-size: 20px;
   margin: 25px 0;
}
.btn-sec5{
    background-color: #f02f50;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: aliceblue;
}
.sec6-title{
    text-align: center;
    font-size: 50px;
    margin: 30px 0;
}
.sec6-dt{
    width: 800px;
   margin:auto;
   margin-bottom: 30px;
}
.newslatter{
    margin: 15px 200px;
    background-color: rgba(209, 124, 191, 0.904);
    padding: 70px 250px;
    
}
.newsc{
    display: flex;
    height: 40px;
    
    
}
.newsbtn{
    background-color: #f02f50;
    color: aliceblue;
    font-size: 20px;
    border: none;
  
}
.newinput{
    width: 100%;
}
